table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    text-align: left;
    padding: 8px;
    color: #fff;
  }

  thead {
    tr {
      background-color: #1666b5;
    }
  }

  tbody {
    tr {
      background-color: #1976d2;

      &:nth-child(even) {
        background-color: #1666b5;
      }
    }
  }
}

.editBuildingFabRoot {
  margin-right: 5px;
}
